:root {
  --clr-primary-100: hsl(257, 40%, 49%);
  --clr-primary-200: hsl(300, 69%, 71%);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(301, 70%, 71%, 1); 

  --ff-primary: 'Open Sans', sans-serif;;
  --ff-secondary: 'Poppins', sans-serif;;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-400: 400;
  --fw-600: 600;

  --fs-100: ;
  --fs-200: .75rem;
  --fs-300: ;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-650: 1.75rem;
  --fs-700: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-heading: var(--fs-600);
  --fs-button: var(--fs--200);

}

/* additional reset */

h1,
* {
  margin: 0;
  padding: 0;
}

/* general styling */

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  background-image: url('images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
}

@media (min-width: 50rem) {
  body {
    background-image: url('images/bg-desktop.svg');
  }
}

picture {
  width: 100vw;
  height: auto;
  position:absolute;
  z-index: -1;
}

picture.img {
  width: auto;
}

header {
  width: 375px;
  height: 24.75rem;
  margin-inline: auto;
}

.header-inside-wrapper {

}

.logo {
  width: 10rem;
  height: 6.25rem;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-size: 7.8125rem 5rem;
  margin-bottom: 1.25rem;
}

.illustration-mockups {
  width: 18.5rem;
  height: 13rem;
  background-image: url('images/illustration-mockups.svg');
  background-repeat: no-repeat;
  background-size: 18.5rem 13rem;
}

main {
  max-width: 17rem;
  margin-inline: 2.25rem;
  text-align: center;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  line-height: 2.5rem;
  font-size: var(--fs-button);
  color: var(--clr-primary-100);
  background-color: var(--clr-neutral-100);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  margin: 0 auto 64px;
}

footer {
  margin-bottom: 2.5rem;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: .625rem;
}

.social-icon {
  width: 1.75rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100)
}