:root {
  --clr-primary-100: hsl(257, 40%, 49%);
  --clr-primary-200: hsl(300, 69%, 71%);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(301, 70%, 71%, 1); 

  --ff-primary: 'Open Sans', sans-serif;;
  --ff-secondary: 'Poppins', sans-serif;;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-400: 400;
  --fw-600: 600;

  --fs-100: ;
  --fs-200: .75rem;
  --fs-300: ;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-650: 1.75rem;
  --fs-700: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-heading: var(--fs-600);
  --fs-button: var(--fs-200);

}

/* additional reset */

h1,
* {
  margin: 0;
  padding: 0;
}

/* general styling */

html,
body {
  min-height: 100vh;
}

body {
  text-align: center;
  background-image: url('images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--clr-primary-100);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-100);
}

@media (min-width: 90rem) {
  body {
    background-image: url('images/bg-desktop.svg');
  }
}

header {
  width: 18.5rem;
  margin-inline: auto;
}

@media (max-width: 20rem) {
  header {
    margin-inline: 1.5rem;
  }
}

.logo {
  width: 100%;
  height: 6.25rem;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-size: 7.8125rem 5rem;
  margin-block: 0.5rem 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 18.5rem;
  margin-inline: auto;
  text-align: center;
}

@media (max-width: 20rem) {
  main {
    margin-inline: 1.5rem;
  }
}

@media (min-width: 90rem) {
  main {
    max-width:max-content;
    flex-direction: row;
    justify-content: center;
    gap: 3.6875rem;
  }
}

.illustration-mockups {
  width: 18.5rem;
  height: 13rem;
  background-image: url('images/illustration-mockups.svg');
  background-repeat: no-repeat;
  background-size: 18.5rem 13rem;
  margin-bottom: 3.75rem;
}

@media (min-width: 90rem) {
  .illustration-mockups {
    width: 43.5rem;
    height: 30.8125rem;
    background-size: 42.5rem auto;
  }
}

@media (min-width: 90rem) {
  .registration {
    width: 32.5rem;
  }
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-600);
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: -0.1rem;
}

.btn {
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 1.75rem;
  line-height: 2.5rem;
  font-size: var(--fs-button);
  color: var(--clr-primary-100);
  background-color: var(--clr-neutral-100);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  margin: 0 auto 64px;
}

footer {
  margin-bottom: 2.5rem;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: .625rem;
}

.social-icon {
  width: 1.75rem;
  aspect-ratio: 1;
  fill: var(--clr-neutral-100)
}